---
interface Props {
	title: string;
	time: string;
	body: string;
	speaker: string;
}

const { speaker, time, title, body } = Astro.props;
---

<details class="accordion">
	<summary class="accordion-header">
		<div class="header-content">
			<span class="time">{time}</span>
			<span class="title">{title}</span>
            <i class="fa fa-caret-down toggle-icon"></i>
		</div>
	</summary>
	<div class="accordion-body">
		<p class="body-text">{body}</p>
		<p class="speaker">{speaker ? `Speaker: ${speaker}` : ''}</p>
	</div>
</details>

<style>
.accordion {
	border: 1px solid #FAF9F6;
	border-radius: 10px;
	padding: 12px;
	margin-bottom: 16px;
	background-color: #1c2120;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.accordion:hover {
	transform: scale(1.02);
}

.accordion-header {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 100%;
}

.accordion-body {
	margin-top: 8px;
	padding: 16px;
	background-color: #1c2120;
	border-radius: 6px;
}

.accordion-header:hover {
    background-color: rgba(255, 255, 255, 0.1); 
	border-radius: 10px;
}

.toggle-icon {
	color: #FAF9F6;
	font-size: 18px;
	transition: transform 0.3s ease;
}

details[open] .toggle-icon {
	transform: rotate(180deg);
}

.accordion-header:focus {
	outline: none;
	outline-offset: 2px;
}

.time {
	color: #FAF9F6;
	font-size: 17px;
	margin-top: 10px;
}

.title {
	color: #FAF9F6;
	font-weight: bold;
	font-size: 25px;
}

.body-text {
	color: #FAF9F6;
	font-size: 16px;
	margin-bottom: 4px;
}

.speaker {
	color: #FAF9F6;
	font-style: italic;
	font-size: 15px;
	text-align: left;
}
</style>
