---
---

<section>
  <div class="width-container">
      <h2>JOIN US AT THE CODE TO CLOUD LAUNCH EVENT</h2>
      <p>Explore the latest trends, tools, and best practices driving the future of technology</p>
      <section class="event-details">
        <h2>Event Details</h2>
        <p><span>Location:</span> PLATFORM Innovation Center, Calgary, AB</p>
        <p><span>Date:</span> December 17th, 2024</p>
        <p><span>Time:</span> 4:00 PM to 7:00 PM MST</p>
      </section>
      <a href="/">Buy Ticket</a>
  </div>
</section>

<style>
  .width-container {
    width: min(80%, 1280px);
    margin: 0 auto;
    text-align: center;
  }

  h2, h3, p {
    color: #faf9f6;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .event-details {
    display: grid;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3.5rem;
  }

  a {
    color: #faf9f6;
    font-size: 1.25rem;
    padding: 16px 36px;
    border: 1px solid #faf9f6;
    border-radius: 100px;
    text-decoration: none;
    transition: background 300ms ease-in-out;
  }

  a:hover {
    background: #3a3b45;
  }
</style>